body {
	background-color: #fff;
	font-family: sans-serif;
	padding: 15px;
}

h1, h2 {
	font-variant: small-caps; 
	text-align: center; 
	border-bottom: 3px solid black;
}

.menu{
	background-color: #0000FF;
	text-align: center;
	margin: auto;
    width: 95%;
    border: 3px solid green;
}
.item:hover {background-color: green; color: #FFFFFF; padding: 10px;}
.item:active {background-color: #333; color: #FFFFFF; padding: 10px;}
.item{color: #fff; padding: 10px; text-align: center;}

table {
	margin: auto;
    width: 95%;
    padding: 10px;
}

.content {
	color: #000;
}

.odd {
	background-color: #eee;
	color: #000;
}